fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0
motor==3.6.0
pymongo==4.9.2
python-jose[cryptography]==3.3.0
firebase-admin==6.6.0
python-dotenv==1.0.1
cloudinary==1.41.0
anyio==4.7.0
httpx==0.28.1
